* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
  
    --primary-color: #007546;
    --secondary-color: #00D480;
    --input-label-color: #D9D9D9;
    --bg-color: #ffffff;
    --text-color: #002718;
    --primary-button-color: #00AD1d;
    --secondary-button-color: #FF8000;
    --primary-button-hover-color: #006B12;
    --secondary-button-hover-color: #834100;
    --cart-bg: #EFEFEF;
}

.cart {
    display: flex;
    flex-direction: column;
    /* box-shadow: 0 0 2px var(--primary-color); */
    color: var(--text-color);
    overflow: hidden;
    transition: 0.3s ease-in-out;
    position: relative;
    border-radius: 5px;
    border: 1px solid #D5D5D5;
}

.cart:hover {
    background: var(--cart-bg);
    cursor: pointer;
}

.cart .image {
    width: 225px;
    height: 220px;
    overflow: hidden;
}

.image .img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cart-content {
    padding: 0 15px;
    margin-bottom: 30px;
}

.cart-name {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    text-decoration: none;
}

.cart p {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    text-decoration: none;
}

.cart p span {
    font-size: 14px;
    text-decoration: line-through;
}

.rating {
    margin-top: 10px;
    color: var(--secondary-button-color);
}

.add-to-cart {
    background: var(--primary-color);
    height: 40px;
    color: var(--bg-color);
    font-weight: bold;
    font-size: 16px;
    border: none;
    display: none;
    transition: 0.3s ease-in-out;
}

.fav-icon {
    display: none;
}

.cart:hover .fav-icon {
    display: inline-block;
}