.review-container {
    box-shadow: 0 0 5px #0009;
    margin: 20px 0;
    padding: 20px 0 0 0;
    border-radius: 10px;
}

.review-container h2 {
    padding-left: 30px;
}

.review-carts {
    margin-top: 20px;
    margin-bottom: 60px;
}