@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
  
    --primary-color: #007546;
    --secondary-color: #3affb0;
    --input-label-color: #D9D9D9;
    --bg-color: #ffffff;
    --text-color: #002718;
    --primary-button-color: #00AD1d;
    --secondary-button-color: #FF8000;
    --primary-button-hover-color: #006B12;
    --secondary-button-hover-color: #834100;
    --cart-bg: #EFEFEF;
    --gradient: linear-gradient(0deg, #007546, #00D480) ;

    font-family: 'Poppins';
}

.orderpage-container {
    margin: 0 15% 20px 15%;
    /* padding: 20px; */
    border: 1px solid var(--primary-color);
    border-radius: 0 0 20px 20px;
    overflow: hidden;
}

.top-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.left-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 56.9%;
}

.add-cards {
    display: flex;
    gap: 20px;
}

.payment-method {
    width: 100%;
    /* box-shadow: 0 0 5px #0005; */
    /* height: 150px; */
    /* padding: 20px; */
    border-radius: 10px;
    /* border: 1px solid var(--primary-color); */
    margin-top: 20px;
}

.payment-btns {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap: 20px;
}

.payment-btn {
    height: 40px;
    width: 100%;
    font-size: 16px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background: none;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.payment-btn:hover {
    background: var(--primary-color);
    color: var(--bg-color);
}

.right-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}