@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;

  --primary-color: #007546;
  --secondary-color: #00D480;
  --input-label-color: #D9D9D9;
  --bg-color: #ffffff;
  --text-color: #002718;
  --primary-button-color: #00AD1d;
  --secondary-button-color: #FF8000;
  --primary-button-hover-color: #006B12;
  --secondary-button-hover-color: #834100;
  --cart-bg: #EFEFEF;
  --gradient: linear-gradient(0deg, #007546, #00D480) ;

  font-family: 'Poppins', sans-serif;
}

.controller {
  background: var(--primary-color);
}

.stars {
  display: flex;
}

.star {
  color: #ddd;
  cursor: pointer;
}

.star.filled {
  color: var(--secondary-button-color);
}

.delivered-textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: none;
}

.delivered-textarea:focus {
  outline: none;
  border: none;
}

.delivered-submit-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delivered-submit-button:hover {
  background-color: #45a049;
}
