* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;

  --primary-color: #007546;
  --secondary-color: #00D480;
  --input-label-color: #D9D9D9;
  --bg-color: #ffffff;
  --text-color: #002718;
  --primary-button-color: #00AD1d;
  --secondary-button-color: #FF8000;
  --primary-button-hover-color: #006B12;
  --secondary-button-hover-color: #834100;
  --cart-bg: #EFEFEF;
}

.hero-container {
  height: 90vh;
  position: relative;
  display: flex;
  margin-left: 12vw;
  z-index: -1;
}

.hero-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: url(../../Assets/Hero.jpg) no-repeat center / cover;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, black, transparent);
  z-index: 2;
}

.hero-content {
  display: flex;
  flex-direction: column;
  z-index: 3;
  color: white;
  position: relative;
  top: 16vh;
  margin-left: 10rem;
}

.hero-heading {
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.hero-subheading {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hero-btn {
  display: flex;
  gap: 1rem;
}

.btn-primary,
.btn-secondary {
  padding: 0.8rem 3rem;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

.btn-primary {
  background-color: var(--primary-button-color);
  color: white;
}

.btn-primary:hover {
  background-color: var(--primary-button-hover-color);
}

.btn-secondary {
  background-color: var(--primary-button-color);
  color: white;
}

.btn-secondary:hover {
  background-color: var(--primary-button-hover-color);
}