* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
  
    --primary-color: #007546;
    --secondary-color: #3affb0;
    --input-label-color: #D9D9D9;
    --bg-color: #ffffff;
    --text-color: #002718;
    --primary-button-color: #00AD1d;
    --secondary-button-color: #FF8000;
    --primary-button-hover-color: #006B12;
    --secondary-button-hover-color: #834100;
    --cart-bg: #EFEFEF;
    --gradient: linear-gradient(0deg, #007546, #00D480) ;
}

.card-card-container {
    box-shadow: 0 0 5px #0005;
    padding: 20px;
    border-radius: 10px;
}

.card-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.cards-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cards-item:hover {
    transform: scale(1.03);
}

.cards-item.selected {
    border-color: var(--secondary-color);
    background: var(--secondary-color);
}

.cards-content {
    padding: 20px;
}

.card-name {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-data {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 15px;
    margin-top: 10px;
}

.cards-type {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    padding: 10px;
    border-left: 2px solid var(--primary-color);
}

.cards-type > img {
    max-height: 100px;
}