* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
  
    --primary-color: #007546;
    --secondary-color: #00D480;
    --input-label-color: #D9D9D9;
    --bg-color: #ffffff;
    --text-color: #002718;
    --primary-button-color: #00AD1d;
    --secondary-button-color: #FF8000;
    --primary-button-hover-color: #006B12;
    --secondary-button-hover-color: #834100;
    --cart-bg: #EFEFEF;
}

.product-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 60px;
    margin-left: 12vw;
    z-index: 500;
}

.product-container > .product-catogary{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: var(--bg-color);
    width: 100%;
    padding: 50px;
    border-radius: 20px;
    box-shadow:  0 0 5px #0005;
}

.product-container > div > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.search form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    border-radius: 25px;
    background: var(--cart-bg);
    padding: 0 5px;
    gap: 10px;
}

.search form input {
    height: 40px;
    width: 90%;
    padding: 0 30px;
    border: none;
    border-right: 2px solid;
    outline: none;
    font-size: 16px;
    background: none;
}

.search form button {
    width: 10%;
    height: 40px;
    border-radius: 20px;
    background: var(--primary-color);
    border: none;
    outline: none;
    color: var(--bg-color);
    font-size: 16px;
}

.search input::placeholder {
    font-size: 16px;
}

.filters .product-btn {
    display: flex;
    justify-content: space-between;
}

.filters .product-btn button {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 30px;
    border-radius: 20px;
    padding: 3px 45px 0 45px;
    border: 2px solid var(--primary-color);
    background: none;
    outline: none;
    font-size: 14px;
    transition: 0.3s ease-in-out;
}

.filters .product-btn button:hover {
    background: var(--primary-color);
    color: var(--bg-color);
    cursor: pointer;
}

.filters .product-btn button i {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.price-range > div {
    display: flex;
    justify-content: space-between;
}

.price-range .range::-webkit-slider-thumb  {
    background: #007546;
}

.price-range .range {
    cursor: pointer;
}

.active-filters {
    display: flex;
    gap: 20px;
}

.active-filters .active-product-btn {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.active-filters button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    border-radius: 15px;
    border: none;
    outline: none;
    gap: 10px;
    color: var(--text-color);
    transition: 0.3s ease-in-out;
}

.active-filters .filter {
    box-shadow: 0 0 5px #0005;
    background: var(--bg-color);
    padding: 0 20px;
}

.active-filters .filter i {
    display: flex;
    font-size: 24px;
}

.active-filters .filter:hover {
    background: var(--cart-bg);
    cursor: pointer;
}

.active-filters .active-product-btn  button {
    background: none;
    border: 2px solid var(--primary-color);
    font-size: 14px;
    padding: 0 30px 0 10px;
    position: relative;
}

.active-filters .active-product-btn  button i {
    display: flex;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    right: 2px;
}

.active-filters .active-product-btn  button:hover {
    background: var(--primary-color);
    color: var(--bg-color);
    cursor: pointer;
}

.active-filters .active-product-btn  button i:hover {
    background: var(--primary-button-color);
}

.carts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}