* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
  
    --primary-color: #007546;
    --secondary-color: #00D480;
    --input-label-color: #D9D9D9;
    --bg-color: #ffffff;
    --text-color: #002718;
    --primary-button-color: #00AD1d;
    --secondary-button-color: #FF8000;
    --primary-button-hover-color: #006B12;
    --secondary-button-hover-color: #834100;
    --cart-bg: #EFEFEF;
}

.reviewcart-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: 0.3s ease-in-out;
    position: relative;
}

.reviewcart-container:hover {
    background: var(--cart-bg);
}

.reviewcart-content {
    display: flex;
    gap: 10px;
    padding: 0 30px;
    align-items: center;
    margin-top: 20px;
}

.profile-info {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    width: 6.8vw;
}
.profile-icon {
    font-size: 40px;
}

.profile-info p {
    font-size: 13px;
}

.review {
    margin-left: 10px;
}

.symbols {
    display: flex;
    align-items: flex-end;
    margin-top: 10px;
    font-size: 18px;
}

.symbols > i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    position: relative;
    top: 5px;
}

.symbols > i:nth-child(2) {
    margin-right: 10px;
}

.symbols > i:hover {
    background: var(--primary-color);
    color: var(--bg-color);
}

.middle-line {
    width: 1px;
    height: 4rem;
    background: var(--primary-color);
}

.more-option-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    color: var(--primary-color);
}

.more-option-icon:hover {
    background: var(--primary-color);
    color: var(--bg-color);
    cursor: pointer;
}

.bottom-line {
    height: 1px;
    background: var(--primary-color);
    border-radius: 2px;
    margin: 0 50px;
}