* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
  
    --primary-color: #007546;
    --secondary-color: #00D480;
    --input-label-color: #D9D9D9;
    --bg-color: #ffffff;
    --text-color: #002718;
    --primary-button-color: #00AD1d;
    --secondary-button-color: #FF8000;
    --primary-button-hover-color: #006B12;
    --secondary-button-hover-color: #834100;
    --cart-bg: #EFEFEF;
  }

.sidebar-container {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 12vw;
    height: 100vh;
    padding-top: 1vh;
    padding-left: 1vw;
    text-align: left;
    position: fixed;
    top: 0;
    box-shadow: 0 0 5px black;
    z-index: 1000;
    background: var(--bg-color);
}

.logo h1{
    color: var(--primary-color);
    font-size: 35px;
    font-weight: 600;
}

.logo span {
    color: var(--secondary-color);
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 2vw;
    font-weight: bold;
}

ul li:first-child {
    color: var(--primary-color);
}