* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
  
    --primary-color: #007546;
    --secondary-color: #00D480;
    --input-label-color: #D9D9D9;
    --bg-color: #ffffff;
    --text-color: #002718;
    --primary-button-color: #00AD1d;
    --secondary-button-color: #FF8000;
    --primary-button-hover-color: #006B12;
    --secondary-button-hover-color: #834100;
    --cart-bg: #EFEFEF;

    font-family: 'Poppins';
}

.productPage-product-container {
    margin-top: 10vh;
}

.bg {
    background: var(--primary-color);
    padding-left: 12vw;
    width: 100%;
    height: 35vh;
    position: absolute;
    z-index: -1;
    top: 0;
}

.pageNumber {
    margin-left: 12vw;
}